.contact {
  width: 100%;
  min-height: max-content;
  background-image: url("./images/bg.png");
  background-color: #0a0d17;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 4rem 9.5rem;
}
.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactHeader h3{
    font-family: Inter;
font-size: 8.2rem;
font-weight: 800;
line-height: 9.9rem;
letter-spacing: -0.03em;
text-align: left;
color: #fff;

}
.contactHeader h3 span{

background: linear-gradient(89.29deg, #FFFFFF 32.68%, #763AF5 76.63%, #A604F2 104.63%),
linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.contactHeader p{
    font-family: Inter;
font-size: 2.2rem;
font-weight: 500;
line-height: 2.66rem;
letter-spacing: -0.02em;
text-align: left;
color: #fff;
}
.contactForm {
    display: flex;
    width: 109.2rem;
    height:57.6rem;
    padding: 20px;
    gap: 30px;
    border-radius: 20px;
    border: 2px solid #0A0D170D;
    background-color: #0a0d178c;
    
}

.contactFormSub {
    /* background-color: #0a0d176c; */
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4.1rem;
}
.contactFormSubText{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}
.contactFormSubText h4{
font-family: Inter;
font-size: 3rem;
font-weight: 600;
line-height: 3.7rem;
letter-spacing: -0.02em;
text-align: left;

}
.contactFormSubText p{
    font-family: Inter;
font-size: 1.6rem;
font-weight: 400;
line-height: 1.94rem;
letter-spacing: -0.01em;
text-align: left;

}
.contactFormSubName{
    display: flex;
    gap: 1.4rem;
}

.contactFormSubForm form{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: flex-start;
}
.contactFormSubForm form input, .contactFormSubForm form textarea{
    height: 4rem;
    font-family: Inter;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    padding: 1.2rem;
    border: 1px solid #FFFFFF33;
    background: #FFFFFF0D;
    color: #ffffffbe;

}
.contactFormSubForm form button{
    background: linear-gradient(90deg, #763AF5 0%, #A604F2 117.18%);
padding: 12px 10px 12px 10px;
border-radius: 5px;
height: 4rem;
font-family: Inter;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;

}
.contactFormSubEmail{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    justify-content: flex-start;
}
.contactFormImg img {
    height: 100%;
    width: 100%;
    border-radius: 1.2rem;
    object-fit: cover;
}

@media (max-width: 28.12em) { /*450px */
    .contactHeader h3{
    font-size: 6.2rem;
    }
    .contactFormSubText p{
    font-size: 1rem;
    }
    .contactForm {
        display: flex;
        flex-direction: column;
        width: 100%;
        height:max-content;
        padding: 1rem;
        gap: 2rem;
        
    }
  }