.pricing{
    padding: 9rem;
    display: flex;
}

.pricingText{
width: 50%;
padding: 0 2rem;
}
.pricingText h3{
    font-family: Clash Display;
    font-size: 6.4rem;
    font-weight: medium;
    line-height: 7.9rem;
    letter-spacing: -1px;
    text-align: left;
    color: #000;
    
}
.pricingText h5{
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.6rem;
    text-align: left;
    color: #00000099;

}
.pricingText p{
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.6rem;
    text-align: left;
    color: #00000099;

}
.pricingCards{
width: 50%;
}
.pricingCards img{
    cursor: pointer;
}

@media (max-width: 28.12em) { /*450px */
    .pricing{
        display: flex;
        flex-direction: column;
    }
    .pricingText{
        width: 100%;
        }
        .pricingCards{
            width: 100%;
        }
  }