.features{
display: flex;
justify-content: space-between;
padding: 9rem;
gap: 2rem;
}
.featuresImage{
 width: 40%;
 padding:0 2rem ;
}
.featuresImageText h2{
    font-family: Clash Display;
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 7.9rem;
    letter-spacing: -1px;
    text-align: left;
    color: #000000;
}
.featuresImageText p{
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.6rem;
    text-align: left;
    color: #00000099;
    
    margin-bottom: 3rem;
}
.featuresList{
    width: 50%
}

.featuresListItem{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
.featuresListItemImg{
    padding: 3rem;
    border-radius: 2.4rem;
    background: #8157F7;

    
}
.featuresListItemImg img{
    height: auto;
    width: auto;
}
.featuresListItemTText{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-area: 1.5rem;
}
.featuresListItemTText h3{
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.8rem;
    text-align: left;
    color: #000000;

}
.featuresListItemTText p{
    font-family: "Roboto", sans-serif;
font-size: 1.6rem;
font-weight: 450;
line-height: 3.2rem;
text-align: left;
color: #00000099;

}


@media (max-width: 28.12em) { /*450px */
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 9rem;
        gap: 5rem;
        }
        .featuresImage{
            width: 100%;
            padding:0 2rem ;
           }
           .featuresImageText h2, .featuresImageText p{
            text-align: center;
           }
           .featuresList{
            width: 100%
        }
  }