.header {
  width: 100%;
  height: 35.8rem;
  background: #8157f7;
  position: relative;
  top: -18rem;
  z-index: -2;
}
.main {
  width: 100%;
  position: relative;
  top: -32rem;
  margin: auto;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.content {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.headerImg {
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}
.headerImg img {
  width: 100%;
}
.headerImgText {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fff;
}
.headerImgTextBlur {
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  width: 100%;
  height: 13rem;
  background-color: rgba(0, 0, 0, 0.308);
  backdrop-filter: blur(8px);
}
.headerImgDetails {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.headerImgCat {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 3rem;
  width: max-content;
  background-color: #fff;
  color: #6c40ff;
}
.headerImgCat span {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #6c40ff;
}
.headerImgDetails h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: left;
  margin: 1rem 0;
}
.headerImgDate {
  font-family: "Poppins";
  width: max-content;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.mainContent {
  width: 100%;
}
.mainContent h2 {
  font-family: "Roboto", sans-serif;
  /* font-family: Raleway; */
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: justify;
  margin: 2rem 0;
}
.mainContentText {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  text-align: justify;
  margin-top: 1rem;
}
.mainContent img {
  width: 80%;
}
.mainContentText p {
  margin: 1rem 0;
}
.right {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.author {
  width: 100%;
  background: #8157f7;
  color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 15px;
  border-bottom: 1px solid white;
  box-shadow: 0px 3px 6px 0px #000000b9;
}
.authorImg {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  width: 5rem;
  height: 5rem;
}
.authorImg img:first-child {
  border: 1px solid #ffffff80;
  border-radius: 15px;
  object-fit: cover;
}
.author h3 {
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.35rem;
  text-align: left;
}
.author p {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: left;
}
.author span {
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: #ffffffb4;
  /* border: .5px solid #FFFFFF */
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.article h3 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.48px;
  text-align: left;
}

.article div {
  width: max-content;
  font-family: Raleway;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: left;
  padding: 1rem;
  cursor: pointer;
}

.article div:first-of-type {
  color: #3d22cf;
  border-left: 3px solid #3d22cf;
}

.blogsSectionCards {
  display: flex;
  gap: 2rem;
}

.relatedBlogs h3 {
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 4.2rem;
  letter-spacing: -1px;
  text-align: left;
  margin-bottom: 1rem;
}

@media (max-width: 56.25em) {
  /*450px */

  .content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .main {
    padding: 0 7rem;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .article {
    display: none;
  }
  .blogsSectionCards {
    flex-wrap: wrap;
  }
}
