.header{
    width: 100%;
    height: 25rem;
    background: #8157F7;
    position: relative;
    top: -18rem;
    z-index: -2;
}
.blogsSection {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 9rem;
    padding-top: 4rem;
    background: #F5F5F5;
    top: -18rem;
  
  }
  .blogsSectionTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .blogsSectionTop h4 {
    font-family: Clash Display;
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 4.2rem;
    letter-spacing: -1px;
    text-align: left;
  }

  .blogsSectionCards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  
  @media (max-width: 28.12em) { /*450px */
    .blogsSectionCards {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }