.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 9rem;
    gap: 2rem;
}
.newsletter h3{
font-size: 6.4rem;
font-weight: 500;
line-height: 7.8rem;
letter-spacing: -1px;
text-align: center;
color: #979797;

}
.newsletter p{
    font-family: Poppins;
font-size: 2.2rem;
font-weight: 500;
line-height: 3.3rem;
letter-spacing: -1px;
text-align: center;
color: #3C4040;

}
.newsletterInput{
display: flex;
width: 50%;
gap: 2rem;
align-items: center;
font-family: Poppins;
font-size: 2rem;
font-weight: 400;
line-height: 2.35rem;
text-align: left;

}

@media (max-width: 56.25em) { /*700px */
    .newsletterInput{
        width: 80%;
        
        }
  }