.hero{
    width: 100%;
    display: flex;
}

.heroHeading{
font-size: 7.2rem;
font-weight: 500;
line-height: 8.8rem;
text-align: left;

}
.heroDesc{
    font-family: "Roboto", sans-serif;
font-size: 2rem;
font-weight: 300;
line-height: 2.4rem;
text-align: left;

}
.heroImage {
    position: relative;
    width: 50%;
  /* width: 770px; */
  height: 863px;
  top: -12rem;
  gap: 0px;
  border-radius: 0 0 34px 34px;
  opacity: 0px;
  z-index: -1;
  background: linear-gradient(118.59deg, #8F4CE7 10.26%, #8157F7 67.64%);
  display: flex;

}

.heroImage img{
    width: 47rem;
    height: 58remx;
    margin: auto;
        
}

@media (max-width: 28.12em) { /*450px */
    
    .hero{
        flex-direction: column-reverse;
    }
    .heroImage {
        position: relative;
        width: 100vw;
      /* width: 770px; */
      height: 463px;    
    }
    .heroImage img{
        width: 37rem;
        height: 48remx;
        margin: auto;
            
    }
    }