.navbar{
width: 100%;
height: 9rem;
display: flex;
align-items: center;
justify-content: space-between;
/* padding: 0 7rem; */
position: sticky;
top: 0;
z-index: 10;
overflow: hidden;
}
.navScroll{
    /* background: linear-gradient(118.59deg, #ffffff 25%, #8257f7 55%); */
}
.logo{
    width: 100%;
    height: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 cursor: pointer;
 color: white;
}

.logo img{
height: 10rem;
width: 11rem;
border-radius: 3.2rem;
}

@media (max-width: 28.12em) { /*450px */
    .navbar{
        padding: 1rem 1rem;
        justify-content: flex-start;
        gap: 2rem;
        }
        .logo{
            width: 35%;
        }
        .logo img{
            height: 7rem;
            width: 8rem;
            }
            
    }
