.blogsSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 9rem;
  padding-top: 4rem;
  background: #F5F5F5;

}
.blogsSectionTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogsSectionTop h4 {
  font-family: Clash Display;
  font-size: 3.4rem;
  font-weight: 500;
  line-height: 4.2rem;
  letter-spacing: -1px;
  text-align: left;
}
.blogsSectionViewAll {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: -1px;
  text-align: right;
  color: #8d4ce5;
  text-decoration: none;
  cursor: pointer;
}
.blogsSectionCards {
  display: flex;
  gap: 2rem;
}

@media (max-width: 28.12em) { /*450px */
  .blogsSectionCards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}