.stats {
  width: 100%;
  height: 43.6rem;
  background: #8157f7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins";
}

.statsNumbers {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.statsText {
  width: 50%;
  padding-right: 10%;
}
.statsData {
  width: 50%;
}
.statsData span {
  font-family: "Poppins";
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 9.6rem;
  text-align: left;
  color: #ffffff;
}
.statsData p {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: left;
  color: #ffffffbf;
}
.statsMakeInIndia {
  width: 23.5rem;
  height: 23.5rem;
}

.statsText h2{
    font-family: "Poppins";
font-size: 6.4rem;
font-weight: 900;
line-height: 9.6rem;
letter-spacing: -1px;
text-align: left;
color: #E0FF22;

}

.statsText p{
   font-family: "Roboto", sans-serif;
font-size: 1.8rem;
font-weight: 400;
line-height: 3.2rem;
text-align: left;
color: white;
}


@media (max-width: 28.12em) { /*450px */
  .statsNumbers {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: relative;
    top: 0;
    bottom: 0;
    transform: translateY(0);
  }
  .statsText h2{
font-size: 3.8rem;
font-weight: 900;
line-height: 5rem;

}
.statsData span {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 5rem;
}
.statsData p {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: left;
  color: #ffffffbf;
}
.statsMakeInIndia {
  width: 18rem;
  height: 18rem;
}
.statsText p{
  font-family: "Poppins";
font-size: 1.2rem;
font-weight: 600;
line-height: 2.2rem;
text-align: left;
color: white;
}
}