.main{
    text-align: center;
    padding: 2rem 3rem;
    margin-top: 4rem;
    /* background: linear-gradient(118.59deg, #8F4CE7 10.26%, #8157F7 67.64%); */
    
}

.title{
    font-family: Clash Display;
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 7.9rem;
    letter-spacing: -1px;
    /* color: #fff; */
}