

.videoSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 7rem;
    height: max-content;
}
.text{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
}
.text p{
    font-family: "Roboto", sans-serif;
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    color: #00000099;
}
.videoSection h3{
    font-size: 7.2rem;
font-weight: 500;
line-height: 8.8rem;
/* text-align: center; */
/* margin-bottom: 2rem; */
}

.videoSection video{
    position: relative;
    top: 5rem;
    transform: scale(1.3);
}

@media (max-width: 75em) { /*1200px */
    .videoSection{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 4rem;
    }
    .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
   
    .videoSection video{
        width: 75%;
      margin-bottom: 8rem;
    }
  }
@media (max-width: 28.12em) { /*450px */
    .videoSection{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        /* padding: 7rem; */
    }
    }