@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Clash Display";
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url(./assets/fonts/clashDisplay/ClashDisplay-Medium.woff2)
      format("woff2");
  }
  @font-face {
    font-family: "Clash Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/clashDisplay/ClashDisplay-Regular.woff2)
      format("woff2");
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    @apply m-0;
    @apply p-0;
    box-sizing: inherit;
    /* outline: 1px solid red; */
  }

  body {
    @apply bg-background text-foreground;

    @apply box-border;
    font-family: "Clash Display", system-ui, sans-serif;
  }
}

/* 
0-600px: Phone
600-900px : tablet Portrait
900-1200px: Tablet Landscape
1200-1800px - Normal styles
1800px +: Big Desktop
*/
html {
  font-size: 62.5%;
}

@media (max-width: 75em) { /*1200px */
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) { /*900px */
  html {
    font-size: 50%;
  }
}
@media (max-width: 46.87em) { /*700px */
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 28.12em) { /*450px */
  html {
    font-size: 37.5%;
  }
}
@media (min-width: 112.5em) { /*1800px */
  html {
    font-size: 75%;
  }
}
