.blogCard {
  max-width: 25%;
  min-width: 25rem;
  width: max-content;
  height: 55vw;
  max-height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  overflow: hidden;
  /* padding: 1rem; */
  border: 0.1px solid #8d4be952;
  /* box-shadow: 4px 0px 1px 0px #8d4be965; */
}
.blogCardImg {
  /* min-height: 40%; */
  height: 15rem;
  width: 100%;
}
.blogCardImg img{
  height:100%;
  width: 100%;
  object-fit: cover;
}
.blogCardText {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0 1rem;
}
.blogCardTextCategory {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.blogCardText h2 {
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  letter-spacing: -1px;
  text-align: left;
  color: #000000;
}
.description{
  height: 60%;
  overflow-x: scroll;
}

.description::-webkit-scrollbar {
  display: none;
}
.blogCardText p {
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  letter-spacing: -1px;
  text-align: justify;
}
.blogCardTextReadMoreLink{
  /* align-self: ; */
}
.blogCardTextReadMore{
    display: flex;
  align-items: center;
  gap: .5rem;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  letter-spacing: -1px;
  text-align: right;
  color: #8d4ce5;
  text-decoration: none;
  cursor: pointer;

}

@media (max-width: 28.12em) { /*450px */
  .blogCard {
    max-width: 100%;
  }
}