.video_slider {
    max-width: 100%;
    margin: auto;
    padding: 20px;
  }
  
  .video_item video {
    width: 70%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: auto;
  }
